*{
  margin: 0;  /* pour l'intérieur*/
  padding: 0; /* pour l'extérieur*/
}

.subtitle {
    color: red;
    text-transform: uppercase;
}

.image {
    background-image: url(https://placehold.co/1920x700);
}

.image h1 {
    padding: 300px 0;
}

#position {
    position : relative;
}

.position {
    position: relative;
    top: 100px;
}
